.contact {
  text-align: center;
  background: #222222 url("../images/maps-bg.png") no-repeat right bottom;

  h3 {
    color: #ffffff;
    font-size: 40px;
    text-transform: uppercase;
    margin: 0 0 11px;
  }

  p {
    font-size: 16px;
    color: #777777;
    font-family: "Times New Roman", sans-serif;
    margin: 0;
  }

  &__form {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin-bottom: 30px;
    margin-top: 80px;
  }

  input,
  textarea {
    width: 456px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding-left: 20px;

    &::placeholder {
      color: #bbbbbb;
    }
  }

  &__description-left {

    input {
      height: 50px;
      margin-bottom: 30px;
    }
  }

  &__description-right {
    margin-left: 28px;

    textarea {
      height: 201px;
      padding-top: 17px;
      resize: none;

    }
  }
}