.footer {
  &__content {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 30px;
  }

  &__copytext {
    margin-top: 35px;
    font: 14px/14px Arial, sans-serif;
    color: #555555;
  }

  &__social {
    margin-top: 20px;
    margin-left: 135px;
  }

}