.header {
  height: 700px;
  background-image: url("../images/home-bg.jpg");
  background-size: cover;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 42px;

    .logo {
      display: inline-block;

      img {
        max-width: 100%;
      }
    }

    .nav {

      ul {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
      }

      &__item {
        margin-right: 42px;
        &:last-child {
          margin-right: 8px;
        }

        a {
          font-size: 14px;
          color: #ffffff;
          text-transform: uppercase;
          text-decoration: none;
          &:hover {
          }
        }
      }
    }
  }

  &__content {
    text-align: center;
    padding-top: 195px;
  }

  &__title {
    font-size: 40px;
    font-weight: normal;
    color: #ffffff;
    letter-spacing: -0.7px;
    margin: 0 0 30px;
  }

  &__description {
    font-size: 75px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: -1.8px;
    margin: 0 0 40px;
  }
}