.logos {
  padding: 60px 0;
  text-align: center;

  &__content {
  }

  a {
    display: inline-block;
    margin-right: 40px;

    &:last-child {
      margin-right: 0;
    }
  }

  img {
    vertical-align: middle;
  }
}