.services {


  &__content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    @media screen and (max-width: 640px) {
      flex-direction: column;
    }
  }

  &__item {
    text-align: center;
    width: 30%;
    
    @media screen and (max-width: 640px) {
      width: 100%;
      margin-bottom: 20px;
      padding: 0 20px;
      box-sizing: border-box;
    }
  }

  &__icon {
    margin-bottom: 15px;
  }

  &__title {
    font-size: 18px;
    color: #222222;
    margin-bottom: 10px;
    font-weight: bold;
  }

  &__description {
    font-size: 18px;
    color: #777777;
    font-family: "Times New Roman", sans-serif;
    margin: 0;
    line-height: 24px;
  }
}