.team {
  background-color: #f7f7f7;

  &__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    width: 31%;
    text-align: center;
    margin-bottom: 52px;
    padding-bottom: 25px;
  }

  &__icon {
    margin-bottom: 24px;

    img {
      max-width: 100%;
      margin-bottom: 15px;
      border: 7px solid #fff;
      border-radius: 50%;
    }
  }

  &__title {
    font-size: 18px;
    color: #222222;
    font-weight: bold;
    margin-bottom: 3px;
  }

  &__descriprion {
    font-size: 14px;
    color: #777777;
    font-family: "Times New Roman", sans-serif;
  }

  &__social {
    margin-top: 10px;

    a {
      display: inline-block;
      width: 40px;
      height: 40px;
      margin: 0 3px;
      border: 3px solid #222;
      border-radius: 50%;
      background: url("../images/social-sprite.png") no-repeat;

      .black {
        background-color: #222;
      }

      .ic-tw {
        background-position: 0 0;

        &:hover {
          border-color: #00aced;
          background-color: #00aced;
          background-position: 0 -40px;
        }

        .black {
          background-position: 0 -40px;
        }
      }

      .ic-fb {
        background-position: -40px 0;

        &:hover {
          border-color: #3b5998;
          background-color: #3b5998;
          background-position: -40px -40px;
        }

        .black {
          background-position: -40px -40px;
        }
      }


      .ic-pn {
        background-position: -80px 0;

        &:hover {
          border-color: #cb2028;
          background-color: #cb2028;
          background-position: -80px -40px;
        }

        .black {
          background-position: -80px -40px;
        }
      }

      .ic-gl {
        background-position: -120px 0;

        &:hover {
          border-color: #d95232;
          background-color: #d95232;
          background-position: -120px -40px ;
        }

        .black {
          background-position: -120px -40px;
        }
      }
    }
  }
}