body {
  background: red;
  text-align: center;

  h1 {
    background: yellow;
    border: 1px solid white;
  }

  h2 {
    background: blue;
    text-transform: uppercase;
  }

  h3 {
    background: green;
    text-transform: uppercase;
  }
}