body {
  font-family: Arial, sans-serif;

  .wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .section {
    padding: 107px 0;
  }

  .btn {
    line-height: 65px;
    height: 65px;
    margin: 0;
    border: none;
    padding: 0 30px;
    border-radius: 3px;
    font-size: 24px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;

    &__yellow {
      background-color: #fed136;
      color: #ffffff;
    }
  }

  .pageTitle {
    text-align: center;
    margin-bottom: 75px;

    h3 {
      font-size: 40px;
      color: #222222;
      text-transform: uppercase;
      margin: 0 0 11px;
    }

    p {
      font-size: 16px;
      color: #777777;
      font-family: "Times New Roman", sans-serif;
      margin: 0;
    }
  }

  .team,
  .footer {
    &__social {
      a {
        display: inline-block;
        width: 40px;
        height: 40px;
        margin: 0 3px;
        border: 3px solid #222;
        border-radius: 50%;
        background: url("../images/social-sprite.png") no-repeat;
        text-decoration: none;
      }

      .black {
        background-color: #222;
      }

      .ic-tw {
        background-position: 0 0;

        &:hover {
          border-color: #00aced;
          background-color: #00aced;
          background-position: 0 -40px;
        }

        .black {
          background-position: 0 -40px;
        }
      }

      .ic-fb {
        background-position: -40px 0;

        &:hover {
          border-color: #3b5998;
          background-color: #3b5998;
          background-position: -40px -40px;
        }

        .black {
          background-position: -40px -40px;
        }
      }

      .ic-pn {
        background-position: -80px 0;

        &:hover {
          border-color: #cb2028;
          background-color: #cb2028;
          background-position: -80px -40px;
        }

        .black {
          background-position: -80px -40px;
        }
      }

      .ic-gl {
        background-position: -120px 0;

        &:hover {
          border-color: #d95232;
          background-color: #d95232;
          background-position: -120px -40px ;
        }

        .black {
          background-position: -120px -40px;
        }
      }
    }
  }
}