body {
  font-family: Arial, sans-serif;

  .wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .section {
    padding: 107px 0;
  }

  .btn {
    line-height: 65px;
    height: 65px;
    margin: 0;
    border: none;
    padding: 0 30px;
    border-radius: 3px;
    font-size: 24px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;

    &__yellow {
      background-color: #fed136;
      color: #ffffff;
    }
  }

  .pageTitle {
    text-align: center;
    margin-bottom: 75px;

    h3 {
      font-size: 40px;
      color: #222222;
      text-transform: uppercase;
      margin: 0 0 11px;
    }

    p {
      font-size: 16px;
      color: #777777;
      font-family: "Times New Roman", sans-serif;
      margin: 0;
    }
  }
}