.about__item {
  position: relative;
  display: flex;
  margin-bottom: 95px;
  align-items: start;
  justify-content: center; }
  .about__item:before {
    flex: 1 0 0;
    content: ""; }
  .about__item:after {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 2px;
    height: 220px;
    margin: auto;
    background-color: #f1f1f1;
    content: ""; }
  .about__item .about__icon {
    margin: 0 38px; }
  .about__item--reverse {
    flex-direction: row-reverse; }
    .about__item--reverse .about__box {
      text-align: right; }
  .about__item:last-of-type:after, .about__item:last-of-type:before {
    display: none; }

.about__icon {
  position: relative;
  flex: 0 0 168px;
  border: 7px solid #f1f1f1;
  border-radius: 50%;
  font-size: 0;
  z-index: 5; }
  .about__icon img {
    max-width: 100%; }
  .about__icon--btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 168px;
    background-color: #f2d048;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    text-decoration: none; }

.about__title {
  font-size: 18px;
  color: #222222;
  font-weight: bold;
  letter-spacing: -0.3px;
  line-height: 28px;
  margin-bottom: 5px; }

.about__description {
  font-size: 16px;
  color: #777777;
  line-height: 24px;
  font-family: "Times New Roman", sans-serif; }

.about__box {
  flex: 1 0 0; }
