.portfolio {
  background-color: #f7f7f7; }
  .portfolio__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
  .portfolio__item {
    width: 31%;
    text-align: center;
    margin-bottom: 52px;
    background-color: #ffffff;
    padding-bottom: 25px; }
  .portfolio__icon {
    margin-bottom: 24px; }
    .portfolio__icon img {
      max-width: 100%; }
  .portfolio__title {
    font-size: 18px;
    color: #333333;
    font-weight: bold;
    margin-bottom: 3px; }
  .portfolio__descriprion {
    font-size: 14px;
    color: #737373;
    font-family: "Times New Roman", sans-serif; }
